

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 8%;
  margin-right: 55px;
}

.item {
  position: relative;
  width: 90%;
  overflow: hidden;
  /* border-radius: 12px; */
}

.img {
  width: 100%;
  height: 450px;
  display: block;
  transition: opacity 0.3s ease;
  object-fit: fill;
}

.img-1 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}

.img-2 {
  opacity: 0;
}

.item:hover .img-1 {
  opacity: 0;
}

.item:hover .img-2 {
  opacity: 1;
}

.title {
font-family: "Libre Baskerville", serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1a1a1a;
  text-align: center;
  margin-top: 10px;
}

@media (max-width: 360px) {
  .gallery {
    grid-template-columns:  repeat(2, 1fr);
    gap: 12px;
    margin: 55px 10px;
  }

  .item {
    width: 100%;
  }

  .img {
    height: 260px;
  }

  .title {
    font-size: 10px;
  }
}

@media (max-width: 600px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin: 30px 15px;
  }

  .item {
    width: 100%;
  }

  .img {
    height: 320px;
  }

  .title {
    font-size: 14px;
  }
}

@media (min-width: 601px) and (max-width: 1025px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for tablets */
    gap: 15px;                             /* spacing between items */
    padding-top: 50px;                      /* top padding */
    margin:  auto;                         /* center horizontally */
  }

  .item {
    width: 100%;
  }

  .img {
    height: 320px;                          /* adjust image height */
  }

  .title {
    font-size: 14px;                         /* adjust font size */
  }
}

@media (min-width: 1400px) and (max-width: 1599px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr); /* 4 columns for large desktop */
    gap: 22px;                             /* spacing between items */
    padding-top: 50px;                     /* adjust top spacing */
    margin: 0 auto;                        /* center horizontally */
  }

  .item {
    width: 100%;
  }

  .img {
    height: 440px;                         /* adjust image height */
  }

  .title {
    font-size: 15px;                        /* adjust font size */
  }
}

