
  <div class="close-wrapper">
    <button class="close-btn" (click)="close.emit()">✖</button>
  </div>


<div class="category">
  <h3>Rings</h3>
  <div class="grid">
     <div class="product" *ngFor="let item of rings">
    <img [src]="item.image" />
    <p class="name">{{ item.name }}</p>
    <p class="price">₹{{ item.price }}</p>
  </div>
</div>
<hr />

<div class="category">
  <h3>Bracelets</h3>
  <div class="grid">
     <div class="product" *ngFor="let item of bracelets">
    <img [src]="item.image" />
    <p class="name">{{ item.name }}</p>
    <p class="price">₹{{ item.price }}</p>
  </div>
</div>
<hr />

<div class="category">
  <h3>Chains</h3>
  <div class="grid">
     <div class="product" *ngFor="let item of chains">
    <img [src]="item.image" />
    <p class="name">{{ item.name }}</p>
    <p class="price">₹{{ item.price }}</p>
  </div>
</div>
<hr />

<div class="category">
  <h3>Rings</h3>
  <div class="grid">
     <div class="product" *ngFor="let item of rings">
    <img [src]="item.image" />
    <p class="name">{{ item.name }}</p>
    <p class="price">₹{{ item.price }}</p>
  </div>
</div>
<hr />

<div class="category">
  <h3>Kids Collections</h3>
  <div class="grid">
     <div class="product" *ngFor="let item of kidsCollections">
    <img [src]="item.image" />
    <p class="name">{{ item.name }}</p>
    <p class="price">₹{{ item.price }}</p>
  </div>
</div>
<hr />

