
<div class="products-grid">
    
  <div class="product-card" *ngFor="let item of womensCollections">
    <img [src]="'assets/images/' + item.image" alt="Product Image" />

    <h4>{{ item.name }}</h4>
    <p>₹{{ item.price }}</p>
  </div>
</div>

<div class="category">
  <h3>Necklace Sets</h3>
  <div class="grid">
    <div class="product" *ngFor="let item of necklaceSets">
    <img [src]="item.image" />
    <p class="name">{{ item.name }}</p>
    <p class="price">₹{{ item.price }}</p>
  </div>
  </div>
</div>
<hr />

<div class="category">
  <h3>Rings & Bangles</h3>
  <div class="grid">
   <div class="product" *ngFor="let item of ringsBangles">
    <img [src]="item.image" />
    <p class="name">{{ item.name }}</p>
    <p class="price">₹{{ item.price }}</p>
  </div>
  </div>
</div>
<hr />

<div class="category">
  <h3>Bracelets</h3>
  <div class="grid">
   <div class="product" *ngFor="let item of bracelets">
    <img [src]="item.image" />
    <p class="name">{{ item.name }}</p>
    <p class="price">₹{{ item.price }}</p>
  </div>
  </div>
</div>
<hr />
