<nav class="nav">
  <ul class="nav-bar">

    <!-- ALL MENU -->
    <li class="nav-item" (click)="toggleAllMenu()">
      <span class="nav-icon">☰</span> All

      <!-- REMOVE <ul> → USE <div> -->
      <div class="dropdown" *ngIf="isAllMenuOpen">

        <div class="dropdown-section">
          <h4 class="dropdown-title">Trending</h4>
          <div class="dropdown-item">Bestsellers</div>
          <div class="dropdown-item">New Releases</div>
          <div class="dropdown-item">Men's Collection</div>
          <div class="dropdown-item">Women's Collection</div>
        </div>

        <hr class="divider" />

        <div class="dropdown-section">
          <h4 class="dropdown-title">Help & Settings</h4>
          <div class="dropdown-item">Your Account</div>
          <div class="dropdown-item">Customer Service</div>
          <div class="dropdown-item">Sign in</div>
        </div>

      </div>
    </li>

  
    <!-- <li class="nav-item"
        *ngFor="let cat of categories; trackBy: trackByCategoryId"
        (click)="toggleDropdown(cat.category_id)">

      {{ cat.name }}

    
      <div class="dropdown" *ngIf="activeDropdown === cat.category_id">
        <div class="dropdown-item" *ngFor="let p of products" (click)="onProductClick(p)">
          {{ p.name }}
        </div>
      </div>

    </li> -->

  </ul>
</nav>