<!-- <nav class="nav">
  <ul class="nav-bar">

    ALL OPTION
    <li class="nav-item" (click)="selectCategory(null)">
      <span class="nav-icon">☰</span> All
    </li>

    BACKEND CATEGORY DATA
    <li 
      class="nav-item"
      *ngFor="let cat of categories; trackBy: trackByCategoryId"
      (click)="toggleDropdown(cat.category_id)"
    >
      {{ cat.name }}

      <ul class="dropdown" *ngIf="activeDropdown === cat.category_id">
      <li class="dropdown-item" *ngFor="let p of products">
    {{p.name}}
  </li>
</ul>

    </li>

  </ul>
</nav> -->


<nav class="nav">
  <ul class="nav-bar">

    ALL OPTION
    <li class="nav-item" (click)="selectCategory(null)">
      <span class="nav-icon">☰</span> All
    </li>

    <!-- BACKEND CATEGORY DATA -->
    <li 
      class="nav-item"
      *ngFor="let cat of categories; trackBy: trackByCategoryId"
      (click)="toggleDropdown(cat.category_id)"
    >
      {{ cat.name }}

      <ul class="dropdown" *ngIf="activeDropdown === cat.category_id">
  <li class="dropdown-item" *ngFor="let p of products">
    {{ p.name }}
  </li>
</ul>

    </li>

  </ul>
</nav>