<!-- <nav class="nav">
  <ul class="nav-bar">
    <li class="nav-item" (click)="toggleAllMenu()">
      <span class="nav-icon">☰</span> All

    
      <div class="dropdown" *ngIf="isAllMenuOpen">

        <div class="dropdown-section">
          <h4 class="dropdown-title">Trending</h4>
          <div class="dropdown-item"  (click)="openBestSellers()">Bestsellers</div>
          <div class="dropdown-item" (click)="onNewReleasesClick()">New Releases</div>
          <div class="dropdown-item" (click)="selectMensCollection()">Men's Collection</div>
         <div class="dropdown-item" (click)="selectWomenCollection()">Women's Collection</div>

        </div>

        <hr class="divider" />

        <div class="dropdown-section">
          <h4 class="dropdown-title">Help & Settings</h4>
          <div class="dropdown-item">Your Account</div>
          <div class="dropdown-item">Customer Service</div>
          <div class="dropdown-item">Sign in</div>
        </div>

      </div>
    </li>
  </ul>
</nav> -->
<!-- <nav class="nav">
  <ul class="nav-bar">
    <li class="nav-item">

      <span class="nav-icon">☰</span> All

      <div class="normal-list">

        <div class="list-section">
          <h4 class="list-title">Trending</h4>

          <div class="list-item" (click)="openBestSellers()">Bestsellers</div>
          <div class="list-item" (click)="onNewReleasesClick()">New Releases</div>
          <div class="list-item" (click)="selectMensCollection()">Men's Collection</div>
          <div class="list-item" (click)="selectWomenCollection()">Women's Collection</div>
        </div>

        <hr class="divider" />

        <div class="list-section">
          <h4 class="list-title">Help & Settings</h4>

          <div class="list-item">Your Account</div>
          <div class="list-item">Customer Service</div>
          <div class="list-item">Sign in</div>
        </div>

      </div>

    </li>

  </ul>
</nav> -->
<!-- <nav class="nav-vertical">

  <div class="menu-title">
    <span class="nav-icon">☰</span> All
  </div>

  <div class="list-section">
    <h4 class="list-title">Trending</h4>
    <div class="list-item" (click)="openBestSellers()">Bestsellers</div>
    <div class="list-item" (click)="onNewReleasesClick()">New Releases</div>
    <div class="list-item" (click)="selectMensCollection()">Men's Collection</div>
    <div class="list-item" (click)="selectWomenCollection()">Women's Collection</div>
  </div>

  <hr class="divider">

  <div class="list-section">
    <h4 class="list-title">Help & Settings</h4>
    <div class="list-item">Your Account</div>
    <div class="list-item">Customer Service</div>
    <div class="list-item">Sign in</div>
  </div>

</nav> -->

<nav class="nav-horizontal">

  <ul class="nav-row">
<!-- 
    <li class="nav-item">
      Trending
    </li> -->

    <li class="nav-item" (click)="openBestSellers()">
      Bestsellers
    </li>

    <li class="nav-item" (click)="onNewReleasesClick()">
      New Releases
    </li>

    <li class="nav-item" (click)="selectMensCollection()">
      Men's Collection
    </li>

    <li class="nav-item" (click)="selectWomenCollection()">
      Women's Collection
    </li>
<!-- 
    <li class="nav-item">
      Your Account
    </li>

    <li class="nav-item">
      Customer Service
    </li>

    <li class="nav-item">
      Sign in
    </li> -->

  </ul>

</nav>
