.category {
  width: 100%;
  padding: 15px 10px;
}

.category h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

.grid img {
  width: 100%;
  height: 240px;
  object-fit: fill;
  border-radius: 6px;
  cursor: pointer;
  transition: transform .3s;
}

.grid img:hover {
  transform: scale(1.08);
}

hr {
  margin: 20px 0;
  border: none;
  height: 2px;
  background: #ddd;
}

.close-wrapper {
  position: relative;
  top: 20px;
  right: 0;
  display: flex;
  justify-content: flex-end;
}

.close-btn {
  color: black;
  border: 2px solid rgb(158, 150, 150);
  border-radius: 50%;
  width: 38px;
  height: 38px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-btn:hover {
  color: black;
}

.product {
  text-align: center;
}

.name {
  font-family: "Libre Baskerville", serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #1a1a1a;
  text-align: center;
  margin-top: 18px;
}

.price {
   font-family: "Libre Baskerville", serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #1a1a1a;
  text-align: center;
  margin-top: 18px;
}


/* TABLETS */
@media (max-width: 903px) and (min-width: 601px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .grid img {
    height: 200px;
  }
  .name {
    font-size: 16px;
  }
  .price {
    font-size: 15px;
  }
}

/* MOBILE */
@media (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-right: 15px;
  }
  .grid img {
    height: 160px;
  }
  .name {
    font-size: 15px;
  }
  .price {
    font-size: 14px;
  }
}

/* SMALL MOBILE */
@media (max-width: 400px) {
  .grid img {
    height: 140px;
  }
  .name {
    font-size: 14px;
  }
}

/* VERY SMALL PHONES */
@media (max-width: 330px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .grid img {
    height: 180px;
  }
}
