.category {
  width: 100%;
  padding: 15px 10px;
}

.category h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

.grid img {
  width: 100%;
  height: 240px;
  object-fit: fill;
  border-radius: 4px;
  cursor: pointer;
  transition: transform .3s;
}

.grid img:hover {
  transform: scale(1.08);
}

hr {
  margin: 20px 0;
  border: none;
  height: 2px;
  background: #ddd;
}

.close-wrapper {
  position: relative;
  top: 20px;
  right: 0;
  display: flex;
  justify-content: flex-end;
}

.close-btn {
  color: black;
  border: 2px solid rgb(158, 150, 150);
  border-radius: 50%;
  width: 38px;
  height: 38px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-btn:hover {
  color: black;
}

.product {
  text-align: center;
}

.name {
  font-family: "Libre Baskerville", serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #1a1a1a;
  text-align: center;
  margin-top: 18px;
}

.price {
   font-family: "Libre Baskerville", serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #1a1a1a;
  text-align: center;
  margin-top: 18px;
}



@@media (min-width: 1600px) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
  }

  .grid img {
    height: 280px;
  }
}

@media (max-width: 1400px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid img {
    height: 260px;
  }

    .category {
    padding: 40px 24px;
  }
}

@media (max-width: 1025px) {
  .category {
    padding: 50px 24px;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .grid img {
    height: 220px;
  }

  .name {
    font-size: 14px;
  }
}

@media (max-width: 600px)  {
  .category {
    padding: 55px 16px;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
  }

  .grid img {
    height: 190px;
  }

  .name {
    font-size: 13px;
    letter-spacing: 1.5px;
  }

  .price {
    font-size: 12px;
  }
}

@media (max-width: 360px) {
  .category {
    padding: 55px 8px;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr); /* one product per row */
    gap: 10px;
  }

  .grid img {
    height: 120px;
  }

  .name {
    font-size: 10px;
    margin-top: 6px;
    line-height: 1;
    letter-spacing: 1px;
  }

  .price {
    font-size: 10px;
    margin-top: 4px;
  }
}
