
.releases-container {
  width: 100%;
  margin: 20px auto;
  position: relative; 
}

.close-wrapper {
  position: relative;
  top: 20px;
  right: 0;
  display: flex;
  justify-content: flex-end;

}

.close-btn {
    color: black;
 
  border: 2px solid rgb(158, 150, 150);
  border-radius: 50%;
  width: 38px;
  height: 38px;
  font-size: 20px;
 
  justify-content: center;
  align-items: center;
  
 
}

.close-btn:hover {
  
  color: black;
}


.product-section {
  margin-bottom: 80px;
}

.product-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 40px;
  margin-right: 20px;
}

.media-wrapper {
  display: flex;
  gap: 10px;

}

.thumbs-vertical {
  width: 120px;
  display: flex;
  flex-direction: column;
  gap:5px;
  height: 420px;
  overflow-y: auto;
  margin-left: 20px;
  
}

.thumb {
  width: 100px;
  height: 150px;
  border: 2px solid rgb(165, 165, 179);
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
   margin-left: 20px;
}

.thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumb.active {
  border-color: #cfa800;
}

.main-media {
  width: 700px;
  height: 420px;
  background: #000;
  position: relative;
  margin-left: 25px;
  border-radius: 8px;
   border: 2px solid rgb(165, 165, 179);
}

.main-media img,
.main-media video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.arrow {
  background: #fff;
  border: none;
  font-size: 22px;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  top: 180px;
}

.left { margin-right: -50px; }
.right { margin-left: -50px; }


.extra-title {
  font-size: 22px;
  font-weight: 700;
  margin: 50px 0 25px 0;
}

/* .videos-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  width: 90%;
  margin: auto;
} */

.video-box {
  width: 100%;
  height: 280px;
  border: 2px solid rgb(165,165,179);
  border-radius: 10px;
  overflow: hidden;
  background: #000;
}

.video-box video {
  width: 100%;
  height: 100%;
  object-fit: cover;
    transition: opacity 0.3s ease;
}


.video-box:hover video {
  opacity: 1;
}


.video-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.video-item {
  text-align: center;
}

video {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 10px;
}

.name {
  font-size: 19px;
  font-weight: 600;
  margin-top: 6px;
}

.price {
  font-size: 18px;
  color: #080808;
  font-weight: 700;
}


.product-details {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-right: 5px;
  margin-left: 25px;
}

.sku {
  font-size: 14px;
  color: #555;
}

.pricing-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.price {
  font-size: 26px;
  font-weight: 700;
  color: #000;
}

.old-price {
  text-decoration: line-through;
  color: #888;
}

.discount {
  background: #b70039;
  color: #fff;
  padding: 3px 8px;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 600;
}

.tax {
  font-size: 14px;
  color: #666;
}

.quantity-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity-box button {
  width: 35px;
  height: 35px;
  font-size: 18px;
  border-radius: 6px;
}

.btn-row {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.add-cart-btn {
  background: #d96d7d;
  color: #fff;
  padding: 14px;
  border-radius: 6px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.buy-btn {
  background: #7b414c;
  color: #fff;
  padding: 14px;
  border-radius: 6px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.actions {
  margin-top: 10px;
  display: flex;
  gap: 20px;
}

.actions button {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 600;
}
