.slider-container {
  position: relative;
  width: 100%;             
  max-width: 100%;        
  margin: 0 auto;
  overflow: hidden;
  border-radius: 12px;
}

.slider {
  width: 100%;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  height: 240px;          
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  cursor: pointer;
  border-radius: 12px;
}


.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  color: white;
  font-size: 30px;
  padding: 8px 14px;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
  transition: 0.3s ease;
}

.nav-btn.left {
  left: 15px;
}

.nav-btn.right {
  right: 15px;
}

.nav-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}



@media (min-width: 1200px) {
  .slide {
    height: 260px;
  }
}

@media (max-width: 1024px) {
  .slide {
    height: 220px;
  }
}

@media (max-width: 768px) {
  .slide {
    height: 180px;
  }

  .nav-btn {
    font-size: 26px;
    padding: 6px 10px;
  }
}

@media (max-width: 480px) {
  .slide {
    height: 140px;        
  }

  .slide img {
    border-radius: 8px;
  }

  .nav-btn {
    font-size: 22px;
    padding: 5px 8px;
  }

  .nav-btn.left {
    left: 8px;
  }

  .nav-btn.right {
    right: 8px;
  }
}
