
.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 9%;
  
}

.item {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 12px;
  background-size: 100%;
}

.img {
  width: 100%;
  display: block;
  transition: opacity 0.3s ease;

}

.img-1 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
 
}

.img-2 {
  opacity: 0;
}

.item:hover .img-1 {
  opacity: 0;
}

.item:hover .img-2 {
  opacity: 1;
}

.title {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}


@media (max-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .title {
    font-size: 13px;
  }
}


@media (max-width: 480px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    margin-top: 40px;
  }

  .title {
  font-family: "Libre Baskerville", serif;
  font-size: 8px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1a1a1a;
  text-align: center;
  }
  
}
