
.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 2%;
  
}

.item {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 12px;
  background-size: 100%;
}

.img {
  width: 100%;
  display: block;
  transition: opacity 0.3s ease;

}

.img-1 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
 
}

.img-2 {
  opacity: 0;
}

.item:hover .img-1 {
  opacity: 0;
}

.item:hover .img-2 {
  opacity: 1;
}

.title {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

@media (min-width: 1400px) {
  .gallery {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    gap: 24px;
  }
}

@media (max-width: 1024px) {
  .gallery {
    gap: 18px;
  }
}
@media(max-width:980px){
  .item{
    margin-top: 55px;
  }
}

@media (max-width: 768px) {
  .gallery {
    gap: 14px;
  }
  

  .img {
    aspect-ratio: 3 / 4;
    object-fit: cover;
  }
}

@media (max-width: 600px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    margin-top: 30px;
  }

  .item {
    border-radius: 10px;
    margin-top: 20px;
  }

  .img {
    aspect-ratio: 3 / 4;
  }

  .title {
    font-size: 10px;
    letter-spacing: 0.8px;
  }
}

@media (max-width: 360px) {
  .gallery {
    grid-template-columns: 1fr;
    gap: 14px;
  }

  .title {
    font-size: 11px;
  }
}
