.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 0 20px;
}

.product-card {
  width: 100%;
}

.full-details-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-img {
  width: 100%;
  aspect-ratio: 3 / 4;
  object-fit: cover;
}

.product-info {
  text-align: center;
  margin-top: 10px;
}

.product-info h3 {
  font-size: 14px;
}

.product-info .price {
  font-size: 13px;
}


.scroll-row {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding: 25px;
  scroll-behavior: smooth;
  scrollbar-width: none;
    margin-left: 20px;
   margin-right: 20px;
}

.scroll-row::-webkit-scrollbar {
  display: none;
}

.scroll-card {
  min-width: 200px;
  flex: 0 0 auto;
 
}

.only-name-card {
  text-align: center;
  cursor: pointer;
  
 
  
}

.only-name-card .product-img {
  max-width: 280px;
  width: 100%;
  height: 360px;
  object-fit: cover;
  border-radius: 1px;
}

.only-name {
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  color: black;
  margin-top: 10px;
  text-align: center;
  font-family: "Libre Baskerville", serif;
  min-width: 180px;
}

.scroll-wrapper {
  width: 100%;
  overflow: hidden;
  padding: 20px 0;
}

.auto-scroll {
  display: flex;
  gap: 20px;
  width: max-content;
  animation: scroll-left 180s linear infinite;
  
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
}
}
.view-all-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.shop2-btn {
  --btn-bg: 0, 0, 0;       
  --btn-text: 0, 0, 0;     
  --btn-text-hover: 255,255,255; 
  
  margin-top: 20px;
  font-family:  "Libre Baskerville", serif;
  appearance: none;
  border: 1.5px solid rgb(var(--btn-bg));
  border-radius: 1px;
  padding: 12px 28px;
  font-size: 16px;
  cursor: pointer;
  

  color: rgb(var(--btn-text));
  background-color: transparent;


  background-image:
    linear-gradient(rgb(var(--btn-bg)), rgb(var(--btn-bg))),
    linear-gradient(transparent, transparent);

  background-size: 0% 100%, 100% 100%;
  background-position: left;
  background-repeat: no-repeat;

  transition:
    background-size 0.45s cubic-bezier(.785,.135,.15,.86),
    color 0.45s cubic-bezier(.785,.135,.15,.86);
}

.shop2-btn:hover {
  background-size: 100% 100%, 100% 100%;
  color: rgb(var(--btn-text-hover));
}

@media screen and (max-width: 600px) {

  .product-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    /* padding: 0 0px; */
    margin-top: 65px;
    padding: 0;
    margin-left: -5px;
   
  }

  .product-card {
    width: 100%;
  }

  .full-details-card {
    align-items: center;
  }

  .product-img {
    aspect-ratio: 3 / 4;
  }

  .product-info {
    margin-top: 6px;
  }

  .product-info h3 {
    font-size: 12px;
  }

  .product-info .price {
    font-size: 11px;
  }

  .scroll-row {
    gap: 12px;
    padding: 15px 10px;
    margin-left: 0;
    margin-right: 0;
  }

  .scroll-card {
    min-width: 150px;
  }

  .only-name-card {
    width: 100%;
  }

 
  .only-name {
    font-size: 8px;
    margin-top: 5px;
  }

  .scroll-wrapper {
    padding: 10px 0;
  }

  .auto-scroll {
    gap: 12px;
  }

  .shop2-btn {
    font-size: 14px;
    padding: 10px 20px;
  }
}
@media screen and (max-width: 400px) {
   .only-name-card {
    width: 100%;
  }

  .only-name-card .product-img {
    width: 100%;
    height: 250px;
    aspect-ratio: 3 / 4;
  }
}
@media (max-width: 550px) {
 .only-name-card .product-img {
    width: 220px;
    height: 300px;
  }
}
@media (max-width: 480px) {
 .only-name-card .product-img {
    width: 190px;
    height: 270px;
  }
}
@media (max-width: 415px) {
 .only-name-card .product-img {
    width: 180px;
    height: 260px;
  }
}
@media (max-width: 390px) {
 .only-name-card .product-img {
    width: 150px;
    height: 250px;
  }
}
@media (max-width: 380px) {
 .only-name-card .product-img {
    width: 120px;
    height: 220px;
  }
}
@media screen and (max-width: 360px) {

  .product-grid {
    gap: 10px;
  }

  .product-info h3 {
    font-size: 11px;
  }

  .product-info .price {
    font-size: 10px;
  }

  .only-name {
    font-size: 7px;
  }
}
.no-collection {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 14px;
}

.no-collection-video {
  width: 400px;
  max-width: 80%;
  border-radius: 14px;
  /* box-shadow: 0 10px 30px rgba(212, 175, 55, 0.35); */
}

.no-collection h3 {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
}

.no-collection p {
  font-size: 14px;
  color: #777;
}