h2 {
  font-family: "Libre Baskerville", serif;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #1a1a1a;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}


.video-item {
  position: relative;
}

.video-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 12px;

  background: linear-gradient(
    to top,
    rgba(0,0,0,0.7),
    rgba(0,0,0,0.1)
  );

  color: #fff;
}

.video-overlay .name {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.video-overlay .price {
  font-size: 15px;
  font-weight: 700;
  margin: 4px 0 0;
}


@media (min-width: 1025px) {
.video-grid {
  display: flex;
  overflow-x: auto;
  margin-left: -60px;
  padding: 0 80px;
  gap: 5px;                     /* Removed gap */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.video-grid::-webkit-scrollbar {
  display: none;
}

.video-item {
  flex: 0 0 25%;              /* EXACT 4 items in a row */
  max-width: 20%;
  scroll-snap-align: start;
  height: 450px;
  border-radius: 0;           /* Removed radius */
}

.video-item video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0;         

}

}
@media (max-width: 768px) {

  .video-grid {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: x mandatory;

    gap: 16px;
    margin-left: 5px;
    margin-right: -17px;
  }

  .video-grid::-webkit-scrollbar {
    display: none;
  }

  .video-item {
    flex: 0 0 100%;   
    max-width: 100%;
    scroll-snap-align: start;
    border-radius: 15px;

    height: 350px;     
  }

  .video-item video {
    height: 100%;       
    object-fit: cover;
  }

  .video-item p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {

  .video-grid {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 12px;
    padding: 0 15px;
  }

  .video-item {
    flex: 0 0 90%;         
    max-width: 80%;
    height: 500px;         
    scroll-snap-align: center;
    border-radius: 12px;
    margin-right: 10px;
  }

  .video-item video,
  .video-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
  }

  .video-item p {
    font-size: 13px;
    margin-top: 8px;
    text-align: center;
  }
}


@media (max-width: 360px) {

  .video-item {
    flex: 0 0 95%;        
    max-width: 95%;
    height: 260px;
  }

  .video-item p {
    font-size: 12px;
  }
}

