.mens-section {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 40px;
  padding: 40px 120px;
  align-items: center;
}

.left-big img.big-img {
  width: 100%;
  height: 650px;
  object-fit: cover;
  border-radius: 14px;
}

.heading {
  font-size: 42px;
  font-weight: 600;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 120px;
  margin-top: 10px;
}

.shop-btn {
  background: white;
  border: 1px solid #4f4646;
  padding: 8px 20px;
  border-radius: 8px;
  margin-bottom: 40px;
  cursor: pointer;
  align-items: center;
  margin-left: 200px;
  margin-top: 5px;
}

.small-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px;
}

.small-img {
  width: 100%;
  height: 210px;
  object-fit: cover;
  border-radius: 12px;
}

.arrows {
  margin-top: 20px;
  display: flex;
  gap: 12px;
  align-items: center;
  margin-left: 220px;
}

.arrows button {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 1px solid #cfcfcf;
  background: white;
  font-size: 18px;
  cursor: pointer;
}
