
.app-container {
  width: 100%;
  padding-top: 140px;   
  margin-top: 5%;
}

.category-row {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 20px 0;
  flex-wrap: nowrap;
  overflow-x: auto;
  scrollbar-width: none;
}

.category-row::-webkit-scrollbar {
  display: none;
}

.category-box {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.category-box img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
  padding: 3px;
}

.category-box p {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.category-box.active img {
  border-color: #d8c19a;
}

.content {
  width: 100%;
  padding: 20px 25px;
  margin-top: 8%; 
}

.main-layout {
  display: flex;
  width: 100%;
}

.products-panel {
  width: 70%;
  padding: 10px;
}

.content-panel {
  width: 30%;
  padding: 10px;
  border-left: 1px solid #ddd;
}

@media (max-width: 903px) {

  .category-row {
    justify-content: flex-start;
    gap: 30px;
  }

  .category-box img {
    width: 120px;
    height: 120px;
  }

  .content {
    margin-top: 40px;
    padding: 15px 18px;
  }

  .main-layout {
    flex-direction: column;
  }

  .products-panel,
  .content-panel {
    width: 100%;
    border-left: none;
  }
}

@media (max-width: 480px) {

  .category-row {
    gap: 25px;
  }

  .category-box img {
    width: 110px;
    height: 110px;
  }

  .category-box p {
    font-size: 12px;
  }

}

@media (max-width: 360px) {

  .category-box img {
    width: 95px;
    height: 95px;
  }

  .category-row {
    gap: 20px;
  }
}
