<app-header></app-header>


<app-slider style="left: 0;top: 0;right: 0;"  *ngIf="showSliderAndCategories()"></app-slider>

<div class="app-container" *ngIf="!showHeaderOnly() && showSliderAndCategories()">
  <app-category></app-category> 
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>

<div *ngIf="!showHeaderOnly() && showSliderAndCategories()"><app-banner1></app-banner1></div>
<div *ngIf="!showHeaderOnly() && showSliderAndCategories()"><app-watch-nshop></app-watch-nshop></div>
<app-whatsapp-logo></app-whatsapp-logo>
<app-chat-widget></app-chat-widget>
<app-footer *ngIf="!showHeaderOnly()"></app-footer>