h2 {
  font-family: "Libre Baskerville", serif;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #1a1a1a;
  text-align: center;
  margin-top: 20px;
}

.video-grid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
  padding: 0 80px;
  justify-items: center;
}

.video-item {
  width: 100%;
  max-width: 350px;
  position: relative;
  border-radius: 18px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.video-item:hover {
  transform: scale(1.03);
}

.video-item video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 18px;
  display: block;
}

.video-item p {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 8px 12px;

  font-size: 16px;
  font-weight: 600;
  color: #fff;

  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(2px);
  margin: 0;
}

.video-item .name {
  bottom: 35px;
}

.video-item .price {
  bottom: 0;
  font-size: 15px;
  font-weight: 700;
}

@media (max-width: 1024px) {
  .video-grid {
    padding: 0 40px;
    gap: 18px;
  }

  .video-item {
    max-width: 300px;
  }
}

@media (max-width: 768px) {

  .video-grid {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: x mandatory;

    gap: 16px;
    margin-left: 5px;
    margin-right: -17px;
  }

  .video-grid::-webkit-scrollbar {
    display: none;
  }

  .video-item {
    flex: 0 0 100%;   
    max-width: 100%;
    scroll-snap-align: start;
    border-radius: 15px;

    height: 350px;     
  }

  .video-item video {
    height: 100%;       
    object-fit: cover;
  }

  .video-item p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {

  .video-grid {
    padding-left: 15px; 
    padding-right: 15px; 
    gap: 12px;
  }

  .video-item {
    flex: 0 0 100%;
    max-width: 100%;
    height: 500px;  
  }

  .video-item p {
    font-size: 13px;
  }
}


@media (max-width: 360px) {
  .video-item {
    height: 250px;  
  }

  .video-item p {
    font-size: 12px;
  }
}

@media (max-width: 360px) {
  .video-item {
    flex: 0 0 92%;
    max-width: 92%;
  }

  .video-item p {
    font-size: 12px;
  }
}
