<!-- <div class="search-wrapper">
  <div class="search-container">

    <div class="search-box">
      <input
        type="text"
        [(ngModel)]="searchTerm"
        (keyup)="onKeyUp()"
        (keydown.enter)="onSearch()"
        placeholder="Search products..."
      />

      <i class="bx bx-search search-icon" (click)="onSearch()"></i>
    </div>

       <img src="../../../assets/images/search.png" alt="search" class="search">
      <i class='bx bx-filter'></i>

  </div>
</div> -->
<div class="search-wrapper">
  <div class="search-container">

      <img 
  src="../../../assets/images/search.png" 
  alt="search" 
  class="search-icon"
  (click)="onSearch()"
/>

    </div>

  </div>
