<app-navbar (womenCollectionClick)="showWomenCollections()" (productClicked)="onProductSelected($event)"
  (newReleasesClick)="showNewReleases()" (bestSellersClick)="showBestSellers()" (mensCollectionClick)="showMensCollections()">
</app-navbar>


<app-filter (productSelected)="loadProductDetails($event)"></app-filter>


<div class="menu-container">
  <div class="content" *ngIf="selectedProduct">


    <div class="product-card">
      <button class="close-btn" (click)="closeProductView()">✖</button>
      <img [src]="'https://ecom-backend-production-5341.up.railway.app/assets/images/' + selectedProduct.image_url" />

      <h1>{{ selectedProduct.name }}</h1>
      <p>{{ selectedProduct.description }}</p>
      <h3>₹{{ selectedProduct.price }}</h3>
    </div>

  </div>

  <div class="sidebar" *ngIf="!selectedProduct">
    <h2>Category</h2>

    <div class="menu-item" *ngFor="let category of categories; trackBy: trackByCategoryId"
      (click)="selectCategory(category)" [class.active]="selectedCategoryId === category.id">

      <img [src]="getImageUrl(category.image_url)" [alt]="category.name" (error)="onImageError($event)" width="130"
        height="130" />
      <span class="category-name">{{ category.name }}</span>
    </div>
  </div>

  <div class="content" *ngIf="!selectedProduct">
    <app-womens-collections *ngIf="showWomensCollection" (close)="closeWomensCollection()">
    </app-womens-collections>

    <app-releases *ngIf="showReleases" (close)="closeReleases()">
    </app-releases>

    <app-bestsellers *ngIf="showBestsellers" (close)="closeBestsellers()"></app-bestsellers>

    <app-mens-collections *ngIf="showMensCollection" (close)="closeMensCollections()">
    </app-mens-collections>



    <ng-container *ngIf="!showWomensCollection && !showReleases && !showBestsellers && !showMensCollection">

      <app-slider (categorySelect)="onCategorySelected($event)"></app-slider>

      <h1 *ngIf="selectedCategory">{{ selectedCategory.name }}</h1>

      <app-products [searchTerm]="searchTerm" [categoryId]="selectedCategoryId"
        (addToCartEvent)="handleAddToCart($event)">
      </app-products>
      

      <app-cart [cartCount]="cartCount" [items]="cartItems"></app-cart>


    </ng-container>
  </div>
</div>