/* You can add global styles to this file, and also import other style files */

body{
/* background: linear-gradient(120deg, #f093fb, #f5576c);
 */
 /* background-color: #7cb0e4; */
  /* background-color: #f4f6f8; */
    /* background-color: #f8f9fa; */
    /* background-color: rgb(166, 180, 195); */
    /* background-color: #00e4eb; */
    
  position: fixed;
  
}

