
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #f9f9f9;
  overflow-x: hidden;
}

body {
  display: block;
}

app-root {
  display: block;
  min-height: 100vh;
}


body, input, button {
  font-family: 'Roboto', sans-serif;
}


* {
  -webkit-tap-highlight-color: transparent;
}
body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
