* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
  width: 100%;
  overflow-x: hidden;
}

body, html {
  max-width: 100vw;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
}

app-root {
  display: block;
  min-height: 100vh;
}

input, button {
  font-family: 'Roboto', sans-serif;
}
body.cart-open {
  overflow: hidden !important;
}
@media (min-width: 1400px) {
  body {
    font-size: 18px;
  }
}

@media (max-width: 1024px) {
  body {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 15px;
  }

  html, body {
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 360px) {
  body {
    font-size: 13px;
  }
}
