.menu-container {
  width: 100%;
  /* background: #f9f9f9; */
}

.category-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 25px 0;
  flex-wrap: nowrap;
  overflow-x: auto;
  scrollbar-width: none;
}
h1{
  text-align: center;
}
.category-row::-webkit-scrollbar {
  display: none;
}

.category-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.category-box:hover {
  transform: scale(1.1);
}

.category-box img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: contain;
  border: 2px solid #ccc;
  padding: 3px;
}

.category-box p {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.category-box.active img {
  border-color: #d8c19a;
}


@media (max-width: 600px) {
  .category-row {
    gap: 20px;
    padding: 15px;
  }

  .category-box img {
    width: 90px;
    height: 90px;
  }

  .category-box p {
    font-size: 12px;
  }
}

.content {
  padding: 20px;
}

.product-card {
  max-width: 550px;
  margin: 15px auto;
  padding: 16px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  text-align: center;
}

.product-card img {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  object-fit: contain;
}
