
.menu-container {
  width: 100%;
  padding-top: 50px;
  margin-top: -18%;
}

/* ---------- LEFT TO RIGHT ANIMATION ---------- */
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.category-row {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 25px 0;
  flex-wrap: nowrap;
  overflow-x: auto;
  scrollbar-width: none;
}

/* Hide scroll bar */
.category-row::-webkit-scrollbar {
  display: none;
}

.category-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
  flex-shrink: 0;

  /* animation */
  opacity: 0;
  animation: slideIn 1.2s ease forwards;
}

/* adding delay for each box */
.category-box:nth-child(1) { animation-delay: 0.1s; }
.category-box:nth-child(2) { animation-delay: 0.2s; }
.category-box:nth-child(3) { animation-delay: 0.3s; }
.category-box:nth-child(4) { animation-delay: 0.4s; }
.category-box:nth-child(5) { animation-delay: 0.5s; }
.category-box:nth-child(6) { animation-delay: 0.6s; }

/* ---------- IMAGE STYLE + HOVER EFFECT ---------- */
.category-box img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: contain;
  border: 2px solid #ccc;
  padding: 3px;
  transition: all 0.4s ease; /* smooth hover */
}

.category-box:hover img {
  transform: scale(1.10); /* slow zoom */
  border-color: #d8c19a;
  box-shadow: 0 8px 18px rgba(0,0,0,0.18);
}

/* Text */
.category-box p {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.category-box.active img {
  border-color: #d8c19a;
}

h1 {
  text-align: center;
}

/* ---------- RESPONSIVE ---------- */
@media (max-width: 903px) {

  .category-row {
    justify-content: flex-start !important;
    gap: 40px !important;
    padding: 25px 0 !important;
    flex-wrap: nowrap !important;
    overflow-x: auto !important;
  }

  .category-box img {
    width: 130px !important;
    height: 130px !important;
  }

  .category-box p {
    font-size: 14px !important;
  }
}

@media (max-width: 480px) {

  .category-row {
    justify-content: flex-start !important;
    gap: 40px !important;
  }

  .category-box img {
    width: 130px !important;
    height: 130px !important;
  }
}
