.menu-container {
  display: flex;
  width: 100%;
  background: #f9f9f9;
  margin-top: 125px;
}

/* Sidebar */
.sidebar {
  width: 260px;
  background: #ffffff;
  border-right: 1px solid #e1e1e1;
  padding: 20px;
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
}

.sidebar h2 {
  margin-bottom: 15px;
  font-size: 20px;
}

/* Category item */
.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 14px 10px;
  border-radius: 10px;
  margin-bottom: 15px;
  background: #f4f4f4;
  cursor: pointer;
  transition: 0.3s ease;
  text-align: center;
}

.menu-item img {
  border-radius: 10px;
  margin-bottom: 8px;
}

.category-name {
  font-size: 15px;
  font-weight: 600;
}

/* Hover effect */
.menu-item:hover {
  background: #d8c19a;
  color: white;
}

/* ACTIVE SELECTED category */
.menu-item.active {
  background: #d8c19a;
  color: white;
}

/* Content */
.content {
  flex: 1;
  padding: 20px;
}

/* ------------------ Responsive ------------------ */

@media (max-width: 768px) {
  .menu-container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    border-right: none;
    border-bottom: 1px solid #ccc;
    gap: 15px;
  }

  .menu-item {
    min-width: 130px;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .menu-item {
    min-width: 110px;
  }

  .category-name {
    font-size: 14px;
  }
}
